* { 
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}
html{
    background-color: rgb(183, 183, 187);
    background-image: url("png.png");
    height: 800px;
    margin: 0 0 0;
    max-width: 1542px;
        
    }
header {
    width: 100%;
}

main {
    width: 900px;
    border: 3px solid #000;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;



}
body {
    background-color: rgb(183, 183, 187);
    width: 900px;
    background-size: 25%;
    margin: 0 240px ;
    margin-right: 400px;
}
iframe {
    margin: 50px 180px 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
p {
    text-align: center;
    padding: 10px;
    margin: 10px 50px 100px;
}
.buttonDiv{
    width: 900px;
    text-align: center;
    margin: 20px 0 20px;

}
button {
    cursor: pointer;
    background:linear-gradient(to bottom, #b7c1d6 5%, #fdfdfd 100%);
    border-radius: 10px;

}
button:hover {
    background:linear-gradient(to bottom,#fdfdfd 5%,  #b7c1d6 100%);


}
footer {
    width: 900px;
    padding-bottom: 5px;
    color: rgb(16, 31, 241);
    text-shadow: 1px 3px 3px #000;

}
a {
    color: red;
}
a:hover {
    color: aqua;
}